@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	font-weight: 400;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	background-color: white;
}

.img-central {
	height: 320px;
}

h1 {
	color: #36c6c6;
}

.Botao2 {
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px;
	color: #fff;
	font-size: 1.2em;
	border-radius: 15px;
}

.h1-a{
	margin: 10px;
}
.Botao1 {
	text-decoration: none;
	background-color: #36c6c6;
	padding: 5px 10px;
	color: #fff;
	font-size: 1.2em;
	border-radius: 15px;
}

#idprod{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid black;
}

.form-prod {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 5px;
	gap: 10px;
}

.form-prod input {
	padding: 10px;
	border-radius: 5px;
	border: 2px solid black;
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 0.2);
}

.adicionar-button:hover {
	background-color: rgba(54, 198, 198, 0.5);
	border: solid 2px #36c6c6;
}

.table-novo{
	margin-top: 30px;
}

.table-novo th{
	border: solid 1px black;
	padding: 10px;
	text-align: center;
	background-color: #36c6c6;
	color: white;
}

.table-novo td{
	border: solid 1px black;
	padding: 10px;
}